{{!-- Comienza section navbar --}}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid ms-3 p-3">
        <a class="navbar-brand" href="https://proyecto-utn-86c23b1be57c.herokuapp.com/#recetas">
            <img class="logo" src="/images/logo.png" alt="logo" width="70" height="70"><span class="titulo">AyM
                Cocina</span>
        </a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recetas">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contactanos">Contactanos</a>
                </li>
            </ul>
            <a href="http://localhost:3000/admin/panel/"><button class="btn btn-success me-5 ms-2">Panel</button>
            </a>
        </div>
    </div>
</nav>
{{!-- Finaliza section navbar --}}

{{!-- Comienza section inicio --}}
<div id="inicio" class="container-fluid">
    <div class="row align-items-center hero-image">
        <div class="col-6 offset-3 search-box">
            <h1 class="fw-bold text-center">¿Que cocinamos?</h1>
            <form class="d-flex mt-4">
                <input class="form-control search-bar px-4" type="search" placeholder="Buscar" aria-label="Search"
                    name="q" value="{{q}}">
                <button class="btn btn-light btn-search ms-3 px-4" type="submit"><img src="/images/icons/search.svg"
                        alt="searchIcon"></button>
            </form>
        </div>
    </div>
</div>
{{!-- Finaliza section inicio --}}

{{!-- Comienza section recetas --}}
<div id="recetas" class="container-fluid scroll-section">
    <div class="row titulo-recetas">
        <div class="col py-4">
            <h2 class="text-center fw-bold">Recetas</h2>
        </div>
    </div>

    <div class="row mb-3">
        {{#if is_search}}
        {{#unless allRecetas.length}}
        <p class="text-center">No se encontraron resultados que contengan "<strong>{{q}}</strong>".</p>
        {{/unless}}
        {{/if}}
    </div>
    {{!-- Comienzan cards --}}
    <div class="container-recetas">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                    {{#each recetasCol1}}
                    <div class="card">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ID}}">
                            <img src="{{imagen}}" class="card-img" alt="matambre-a-la-pizza">
                            <div class="card-body">
                                <h5 class="card-title">{{titulo}}</h5>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="col">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                    {{#each recetasCol2}}
                    <div class="card">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ID}}">
                            <img src="{{imagen}}" class="card-img" alt="risotto-de-hongos">
                            <div class="card-body">
                                <h5 class="card-title">{{titulo}}</h5>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="col">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                    {{#each recetasCol3}}
                    <div class="card">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ID}}">
                            <img src="{{imagen}}" class="card-img" alt="guiso-de-lentejas">
                            <div class="card-body">
                                <h5 class="card-title">{{titulo}}</h5>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Columnas ocultas --}}
            <div class="col hidden">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                    {{#each recetasCol4}}
                    <div class="card">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ID}}">
                            <img src="{{imagen}}" class="card-img" alt="ensalada-caesar">
                            <div class="card-body">
                                <h5 class="card-title">{{titulo}}</h5>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col hidden">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                    {{#each recetasCol5}}
                    <div class="card">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ID}}">
                            <img src="{{imagen}}" class="card-img" alt="ensalada-caesar">
                            <div class="card-body">
                                <h5 class="card-title">{{titulo}}</h5>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                {{#each allRecetas}}
                <div class="card">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ID}}">
                        <img src="{{imagen}}" class="card-img" alt="matambre-a-la-pizza">
                        <div class="card-body">
                            <h5 class="card-title">{{titulo}}</h5>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Boton ver mas --}}
        <div class="ver-mas d-flex justify-content-center">
            <button type="button" class="btn btn-warning" onclick="verMas()">Ver más</button>
        </div>

    </div>
    {{!-- Finalizan cards --}}

    {{!-- Comienzan modales --}}
    {{#each recetasCol1}}
    <div class="modal fade" id="modal{{ID}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <p><img src="/images/icons/schedule.svg">{{minutos}} min.<img
                            src="/images/icons/person.svg">{{porciones}}</p>
                </div>
                <div class="modal-body">
                    <h6>Ingredientes:</h6>
                    <ul>
                        {{{ingredientes}}}
                    </ul>
                    <br>
                    <h6>Preparación:</h6>
                    <ol>
                        {{{preparacion}}}
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each recetasCol2}}
    <div class="modal fade" id="modal{{ID}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <p><img src="/images/icons/schedule.svg">{{minutos}} min.<img
                            src="/images/icons/person.svg">{{porciones}}</p>
                </div>
                <div class="modal-body">
                    <h6>Ingredientes:</h6>
                    <ul>
                        {{{ingredientes}}}
                    </ul>
                    <br>
                    <h6>Preparación:</h6>
                    <ol>
                        {{{preparacion}}}
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each recetasCol3}}
    <div class="modal fade" id="modal{{ID}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <p><img src="/images/icons/schedule.svg">{{minutos}} min.<img
                            src="/images/icons/person.svg">{{porciones}}</p>
                </div>
                <div class="modal-body">
                    <h6>Ingredientes:</h6>
                    <ul>
                        {{{ingredientes}}}
                    </ul>
                    <br>
                    <h6>Preparación:</h6>
                    <ol>
                        {{{preparacion}}}
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each recetasCol4}}
    <div class="modal fade" id="modal{{ID}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <p><img src="/images/icons/schedule.svg">{{minutos}} min.<img
                            src="/images/icons/person.svg">{{porciones}}</p>
                </div>
                <div class="modal-body">
                    <h6>Ingredientes:</h6>
                    <ul>
                        {{{ingredientes}}}
                    </ul>
                    <br>
                    <h6>Preparación:</h6>
                    <ol>
                        {{{preparacion}}}
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each recetasCol5}}
    <div class="modal fade" id="modal{{ID}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <p><img src="/images/icons/schedule.svg">{{minutos}} min.<img
                            src="/images/icons/person.svg">{{porciones}}</p>
                </div>
                <div class="modal-body">
                    <h6>Ingredientes:</h6>
                    <ul>
                        {{{ingredientes}}}
                    </ul>
                    <br>
                    <h6>Preparación:</h6>
                    <ol>
                        {{{preparacion}}}
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each allRecetas}}
    <div class="modal fade" id="modal{{ID}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <p><img src="/images/icons/schedule.svg">{{minutos}} min.<img
                            src="/images/icons/person.svg">{{porciones}}</p>
                </div>
                <div class="modal-body">
                    <h6>Ingredientes:</h6>
                    <ul>
                        {{{ingredientes}}}
                    </ul>
                    <br>
                    <h6>Preparación:</h6>
                    <ol>
                        {{{preparacion}}}
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{!-- Finalizan modales --}}
</div>
{{!-- Finaliza section recetas --}}

{{!-- Comienza nosotros --}}
<div id="nosotros" class="container-fluid bg-warning scroll-section">
    <div class="row titulo-nosotros">
        <div class="col py-4">
            <h2 class="text-center fw-bold">Nosotros</h2>
        </div>
    </div>
    {{!-- Carousel --}}
    <div class="container-nosotros">
        <div class="row">
            <div class="col-8 offset-2">
                <div id="carousel-nosotros" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-nosotros" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-nosotros" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner p-5">
                        <div class="carousel-item active text-center">
                            <img class="border border-3 border-dark rounded-circle" src="/images/cocinero.png"
                                alt="cocinero">
                            <h5 class="fw-semibold pt-3">Alan</h5>
                            <p class="fst-italic text-start">Soy Alan, mi área de estudio, de trabajo y gran parte
                                de mi
                                vida es la programación, pero en realidad mi pasión y mi hobbie es la cocina, no
                                solo
                                disfruto degustarla si no tambíen prepararla. Es donde me siento cómodo y donde
                                puedo
                                expresar todo lo que siento y lo que soy.<br>
                                Cuando estoy en la cocina me olvido de todos los problemas que tuve en el día y solo
                                me
                                dedico a que el plato que este realizando quede a la perfección (sin olvidar
                                divertirme
                                en el proceso). Además tengo el privilegio de tener al mejor comenzal que un chef
                                puede
                                tener, mi novia.
                            </p>
                            <a href="https://www.instagram.com/alan_diazlamberti/" target="_blank"><img class="icono-ig"
                                    src="/images/icons/icono-instagram.png" alt="icono-ig"></a>
                        </div>
                        <div class="carousel-item text-center">
                            <img class="border border-3 border-dark rounded-circle" src="/images/cocinera.png"
                                alt="cocinera">
                            <h5 class="fw-semibold pt-3">Micaela</h5>
                            <p class="fst-italic text-start">Soy Micaela, una apasionada de la cocina, aunque
                                actualmente me encuentro trabajando para la compañia Axion Energy. Mi amor por la
                                cocina
                                surgió gracias a mi novio, quien me introdujo en un mundo lleno de sabores y aromas
                                irresistibles. Desde entonces, fui desarrollando mi propio estilo culinario.<br>
                                En esta sección, encontrarán una variedad de recetas cuidadosamente seleccionadas
                                por
                                mí, desde platos tradicionales hasta opciones más saludables e innovadoras. Estoy
                                aca
                                para compartir mi pasión, responder a sus preguntas y brindarles consejos
                                culinarios.
                            </p>
                            <a href="https://www.instagram.com/mikypitrau/" target="_blank"><img class="icono-ig"
                                    src="/images/icons/icono-instagram.png" alt="icono-ig"></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-nosotros"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-nosotros"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Finaliza nosotros --}}

{{!-- Comienza contactanos --}}
<div id="contactanos" class="container-fluid">
    <div class="row titulo-contactanos">
        <div class="col py-4">
            <h2 class="text-center fw-bold">Contactanos</h2>
        </div>
    </div>

    {{!-- Form --}}
    <div class="container-contactanos">
        <form method="post" onsubmit="return validarForm()">
            <div class="row">
                <div class="col col-xxl-3 col-xl-4 col-md-5 col-sm-6">
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                </div>
            </div>
            <div class="row">
                <div class="col col-xxl-3 col-xl-4 col-md-5 col-sm-6">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col col-xxl-3 col-xl-4 col-md-5 col-sm-6">
                    <textarea class="form-control" rows="3" placeholder="Mensaje" name="mensaje"></textarea>
                </div>
            </div>
            <div class="col pt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <div class="col d-flex justify-content-center">
                <p class="link-success">{{sucess}}</p>
            </div>
        </form>
    </div>
</div>
{{!-- Finaliza contactanos --}}

{{!-- Comienza footer --}}
<footer class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <ul class="list-inline">
                <li class="list-inline-item px-2">
                    <a href="https://twitter.com/diaz_lamberti" target="_blank"><img src="/images/icons/twitter.svg"
                            alt="twitter"></a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://www.instagram.com/alan_diazlamberti/" target="_blank"><img
                            src="/images/icons/instagram.svg" alt="instagram"></a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://github.com/alan-diazlamberti" target="_blank"><img src="/images/icons/github.svg"
                            alt="github"></a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="" target="_blank"><img src="/images/icons/linkedin.svg" alt="linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="d-block d-sm-inline">Copyright
                <img src="/images/icons/c-circle.svg" alt=""> 2023
            </div>
            <div class="d-block d-sm-inline">Diseñado por Alan Diaz Lamberti</div>
        </div>
    </div>
</footer>
{{!-- Finaliza footer --}}